<web-app>
    <servlet>
        <servlet-name>surveyServlet</servlet-name>
        <servlet-class>SurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>surveyServlet</servlet-name>
        <url-pattern>/survey</url-pattern>
    </servlet-mapping>
</web-app>
